.demo__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.6rem 4rem;
    background-color: #EBF0FA;
    border-radius: 10px;
    position: relative;

    @include media-before-tablet {
        flex-direction: column;
        align-items: start;
        // border-radius: 10px 10px 0 0;
    }

    @include media-tablet {
        flex-direction: column;
        align-items: start;
        margin: 2.4rem 2.4rem;
        border-radius: 10px 10px 0 0;
    }
}

.demo__content {
    max-width: 50%;
    padding-left: 7.2rem;
    padding-bottom: 10.2rem;
    padding-top: 11.5rem;

    @include media-before-tablet {
        max-width: 100%;
        padding: 3.4rem 2.4rem 2.4rem 2.4rem;
    }

    @include media-tablet {
        max-width: 100%;
        padding: 3.4rem 2.4rem 2.4rem 2.4rem;
    }
}

.demo__content>h1 {
    margin: 0;
}

.demo__text {
    max-width: 53.8rem;
    margin-top: 3.8rem;

    @include media-before-tablet {
        max-width: 100%;

    }

    @include media-tablet {
        max-width: 100%;
        margin-top: 3.3rem;
    }
}

.demo__btn {
    display: block;
    color: #FFFFFF;
    padding: 1.2rem;
    background-color: #244C98;
    border-radius: 60px;
    border: 1px solid #244C98;
    margin-top: 4.3rem;
    cursor: pointer;

    @include media-tablet {
        margin-top: 3rem;
        margin-bottom: 2.4rem;
    }

    @include media-mobile {
        width: 100%;
    }
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-wrapper>p {
    @include font($size: 1.8rem, $weight: 500, $height: 2.88rem);
    margin: 0;
    margin-left: 24px;
    padding: 0;

    @include media-tablet {
        @include font($size: 1.5rem, $height: 2.4rem);
    }

    @include media-mobile {
        margin-left: 1rem;
    }
}

.btn-wrapper>div {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-left: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-mobile {
        margin-left: 1rem;
    }
}

.demo__img {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    background-image: url(../assets/img/image1440.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;

    @include media-before-tablet {
        width: 100%;
        height: 150%;
        left: 0;
        bottom: -149%;
        border-radius: 0 0 10px 10px;
    }

    @include media-tablet {
        height: 125%;
        width: 100%;
        left: 0;
        bottom: -125%;
        border-radius: 0 0 10px 10px;
        margin-bottom: 2.4rem;
    }

    @include media-mobile {
        height: 60%;
        bottom: -60%;
    }
}