.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    // display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column nowrap;
    z-index: 1;
    padding: 3rem 0;
    background: rgba($color: #000000, $alpha: 0.6) // padding: 2rem 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.modal {
    position: absolute;
    width: 50rem;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #F0F4FC;
    padding: 2.4rem;
    overflow: hidden;

    @include media-tablet {
        width: 50%;
    }

    @include media-mobile {
        width: 70%;
    }

}

.modal-close-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal__close {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include media-mobile {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.form__input {
    width: 90%;
    padding: 2rem;
    background-color: #D7E2F6;
    color: #1F4284;
    border-radius: 10px;
    border: 1px solid #D7E2F6;
    margin: 0.4rem 0;

    &::placeholder {
        color: #244C98;
        @include font($size: 1.7rem, $height: 2.72rem);
    }

    @include media-mobile {
        width: 85%;
    }
}

.passave-wrapper {
    display: flex;
    align-items: center;
}

.form__restore {
    color: #244C98;
    @include font($size: 1.7rem, $height: 2.72rem);
    cursor: pointer;
}

.modal-btn {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    @include font($size: 1.7rem, $height: 2.72rem);
    border: 1px solid #244C98;
    cursor: pointer;
    margin: 0.4rem 0;

    &_in {
        background-color: #244C98;
        color: #FFFFFF;
    }

    &_up {
        background-color: #D7E2F6;
        color: #244C98;
    }

    @include media-mobile {
        padding: 1rem;
    }
}

label {
    margin-top: 2rem;
    cursor: pointer;
}

label input {
    display: none;
}

label span {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid #244C98;
    display: inline-block;
    border-radius: 2px;
    position: relative;

}

[type=checkbox]:checked+span::before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    color: #1F4284;
}